* { 
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* common */
.container {
    width: 80%;
    margin: auto;
}


.clearfix:: after {
    content: "";
    display: table;
    clear: both;
}


header {
    margin-bottom: 20px;
    height: 150px;
    background-color: rgb(255, 161, 227); 
}


/* main */
.hero {
    background-color: rgb(255, 161, 227); 
    margin-bottom: 20px;
    height: 600px;
}


.leadership {
    background-color: blueviolet;
}


.leadership-title {
    background-color: burlywood;
    height: 80px;
}


.row {
    padding: 20px; 0;
}


.colleft, .colcenter, .colright  {
    float: left;
    background-color: chocolate;
    border: 1px;
}


.colleft, .colright {
    width: 20%;
}


.colcenter {
    width: calc(60% - 40px);
    margin: 0 20px;
}


/* footer */

.footer {
    background-color: coral;
    height: 80px;
    margin: 10px 0 20px 0;
}

